form {
    overflow: hidden;
}


 
form{

	float:left;
	margin-left: 40%; 
	margin-top: 10%;
	background: rgb(50 60 70);
	border-radius: 5px;
	color: white;
	height: 250px;
     
}

div.c{
	width: 200px;
	overflow: hidden;
	float: left;
	margin-left: 70;
}

body {
	background: rgb(30 30 70)
}

input.f{
	margin-left: 36;

}
select.f{
	margin-left: 36;


}
