form {
    overflow: hidden;
}


 
form{

	float:left;
	margin-left: 40%; 
	margin-top: 10%;
	background: blue;
	border-radius: 10px;
	color: red;

}

div.c{
	width: 300px;
	overflow: hidden;
	float: left;
	margin-left: 70;
}

